// Define colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Apply styles to body
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

// Header styles
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-direction: column;
    width: 100%;

    &__logo {
        height: 36px;
        width: 196px;
        margin-top: 20px;
    }
        
    &__location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;
        height: 50px;
        align-items: center;
        

        &-icon {
            height: 20px;
            margin-right: 8px;
        }
    }
}

// Main section styles
.main {
    padding: 28px;
    padding-top: 0%;
}
//section 1//
#section1{
    &__h2{
        font-weight: 700;
        font-size: 24px;

    }
}
// Section title styles
.section-title {
    color:  #000000;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px; 
    
}

// Card restaurant styles
.card-restaurants {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure the image is displayed as a block element */
    }

    &__details {
        background-color: white;
        padding: 10px;
        border: 1px solid #ddd;

        &-tag {
            background-color: $tertiary-color;
            padding: 5px;
            border-radius: 5px;
            font-size: 0.9rem;
        }

        &-heart {
            font-size: 1.2rem;
            color: $primary-color;
        }
    }
}

// Footer styles
.footer {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;

    &-link {
        margin: 10px 0;
        color: $primary-color;

        &__img {
            display: block;
            margin: 0 auto;
        }
    }
}
