// Define colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// Apply styles to body
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    align-items: center;
}

// Header styles
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-direction: column;
    width: 100%;

    &__logo {
        height: 36px;
        width: 196px;
        margin-top: 20px;
    }
        
    &__location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;
        height: 50px;
        align-items: center;
        
        margin-bottom: 0%;
        
        &-icon {
            height: 20px;
            margin-right: 8px;
        }
    }
}

// Main section styles
.main {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

// Reservation section styles
.reservation {
    background-color:#F6F6F6;
    width: 100%;
    padding:30px 00px 30px 00px ;
    justify-content: center;
    gap: 18px;
   
    &__title {
        font-weight: 700;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: roboto;
        margin-top: 0%;
    }

    &__description {
        text-align: center;
        font-weight: 300;
    }

    &__button {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background: linear-gradient($secondary-color,$primary-color);
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        width: 218px;
        height: 50px;
    }
}

// Fonctionnement section styles
.fonctionnement {
    justify-items: center;
    align-items: center;
    gap: 18px;
    display: flex;
    flex-direction: column;
    position: relative;

    &__title {
        color: #000000;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px; 
        display: flex;
        align-self:flex-start;
    }
    &__icon {
        border: solid 2px;
        position: absolute;
        
        background-color: $primary-color;
        padding: 5px;
    
        &__step {
            display: flex;
            padding-top: 25px;
            padding-bottom: 25px; 
            background-color: #F6F6F6;
            border-radius: 15px;
            width: 335px;
            gap: 18px;

        }
    }
}

// Card restaurant styles
.restaurants {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    gap:18px;

    &__title {
        
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;  
        display: flex;
        align-items: center;
        align-self: self-start;
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 340px; 
        
        border-radius: 15px;
        border: 0%;

        &__img {
            width: 100%;
            height: 231px; /* Maintain aspect ratio */
            display: block; /* Ensure the image is displayed as a block element */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
            border-radius: 15px 15px 00px 00px;
            object-fit: cover;
        }

        &__details {
            background-color: white;
            padding: 10px;
            border: 1px solid #ddd;
            box-sizing: border-box; /* Include padding and border in the element's total width and height */

            &-tag {
                background-color: $tertiary-color;
                padding: 5px;
                border-radius: 5px;
                font-size: 0.9rem;
            }

            &-name {
                font-size: 18px;
                font-weight: 700;
                margin-top: 10px;
            }

            &-location {
                font-size: 1rem;
                color: #666;
            }

            &-heart {
                font-size: 1.2rem;
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

// Footer styles
.footer {
    padding: 20px;
    background-color:  #353535;
    
    text-align: center;

    &__logo {
        width: 100%;
        margin-bottom: 20px;
        color: #ddd;
    }

    &__link {
        margin: 10px 0;
        color: $primary-color;

        &-text {
            margin-bottom: 5px;
            font-weight: 500;
        }

        &-img {
            display: block;
            margin: 0 auto;
        }

        &--legal, &--contact {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
