// Define colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$linear-color:linear-gradient($secondary-color, $primary-color);

// Apply styles to body
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    align-items: center;
}

// Header styles
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;


    &__logo {
        height: 36px;
        width: 196px;
        margin-top: 20px;
        
    }
        
    &__location {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;
        height: 50px;
        align-items: center;
        margin-bottom: 0;
        box-shadow: 0px 4px 4px 0px #00000040;

        &-icon {
            height: 20px;
            margin-right: 8px;
        }
    }
}

// Main section styles
.main {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

// Reservation section styles
.reservation {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    width: 100%;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    gap: 18px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0%;
    }

    &__description {
        text-align: center;
        font-weight: 300;
        margin: auto;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0% ;
        background: $linear-color;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        width: 218px;
        height: 50px;
        box-shadow: 0px 4px 4px 0px #00000040;
        text-decoration: none; /* Remove underline from links */
        &:hover {
          opacity: 0.75;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); // Slightly lighter shadow
           
            transition-duration: 0.3s; 
        }
    }
}


// Fonctionnement section styles
.fonctionnement {
    align-items: center;
    gap: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px ;

    &__title {
        
        color: #000;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px; 
        display: flex;
        align-self: flex-start;
    }

    &__step {
        display: flex;
        padding:  25px 22px 25px 00px;
        background-color: #F6F6F6;
        border-radius: 15px;
        width: 90%;
        align-items: center;
        gap: 30px;
        justify-content: center;
        flex-direction: row;
        position: relative;
        box-shadow: 0px 4px 4px 0px #00000040;

    }   
}

.step {
    &__icon{
        position: absolute;
        background-color: $primary-color;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        left: -11px;
    
        &__texte{
            font-size: 16px;
            font-weight: 500;
            font-family: Roboto;
        } 
    }
    &__img{
        width: auto;
        height: auto;
    }
}
// Card restaurant styles
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    gap: 18px;
    padding: 50px 20px 50px 20px;

    

    &__title {
        margin: 0px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;
        display: flex;
        align-items: center;
        align-self: flex-start;
       
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 340px;
        border-radius: 15px;
        border: none;
        position: relative;

        &__img {
            width: 100%;
            height: 231px;
            display: block;
            box-sizing: border-box;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            height: 174px;
        }

        &__details {
            height: 77px;
            background-color: white;
            padding: 10px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            border-radius: 0 0 15px 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-tag {
                background-color: $tertiary-color;
                padding: 5px;
                border-radius: 5px;
                font-size: 0.9rem;
                color: #008766;
                position: absolute;
                right: 15px;
                top: 15px;
            }

            &-name {
                font-size: 18px;
                font-weight: 700;
                margin: 0;
            }

            &-location {
                font-size: 1rem;
                color: #666;
                margin-top: 0;
            }
            &-heart {
                font-size: 1.2rem;
                cursor: pointer;
                position: absolute;
                right: 25px;
                bottom: 33px;
                width: 22px;
                height: 22px;

                input[type="checkbox"] {
                    display: none;
                }

                label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 22px;
                    position: relative;
                }

                label::before {
                    content: attr(data-icon);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                   background-attachment: fixed black;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                input[type="checkbox"]:checked + label::before {
                    opacity: 1;
                }

                input[type="checkbox"]:checked + label {
                    background-color: $primary-color;
                } 
            }
         }
}   }


// Footer styles
.footer {
    padding: 20px;
    background-color: #353535;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__logo {
        width: 139px;
        height: 27px;
        margin-bottom: 20px;
        color: #ddd;
        margin: 0%;

    }

    &__link {
        margin-top: 10Px;
        color: $primary-color;
        display: flex;
        flex-direction:row;
        align-items: baseline;
        gap: 10px;

        &-text {
            margin-bottom: 5px;
            font-weight: 500;
            color: white;
            margin: 0%;
        }

        &-img {
            height: 13px;
            width: 11px;
            margin: 0%;
        }
        &--legal,&--contact{
            color: white;

        }
        &--legal, &--contact {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
