body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__logo {
  height: 36px;
  width: 196px;
  margin-top: 20px;
}
.header__location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  height: 50px;
  align-items: center;
  margin-bottom: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__location-icon {
  height: 20px;
  margin-right: 8px;
}

.main {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.reservation {
  background-color: #F6F6F6;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  gap: 18px;
}
.reservation__title {
  font-weight: 700;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
}
.reservation__description {
  text-align: center;
  font-weight: 300;
}
.reservation__button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.fonctionnement {
  align-items: center;
  gap: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.fonctionnement__title {
  padding-left: 30px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  display: flex;
  align-self: flex-start;
}
.fonctionnement__step {
  display: flex;
  padding: 25px 22px 25px 0px;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 80%;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-direction: row;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.step__icon {
  position: absolute;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  left: -11px;
}
.step__icon__texte {
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
}
.step__img {
  width: auto;
  height: auto;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  gap: 18px;
}
.restaurants__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 30px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 340px;
  border-radius: 15px;
  border: none;
  position: relative;
}
.restaurants__card__img {
  width: 100%;
  height: 231px;
  display: block;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 174px;
}
.restaurants__card__details {
  height: 77px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__card__details-tag {
  background-color: #99E2D0;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #008766;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurants__card__details-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0%;
}
.restaurants__card__details-location {
  font-size: 1rem;
  color: #666;
  margin-top: 0%;
}
.restaurants__card__details-heart {
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 33px;
  height: 21px;
  width: 22px;
}

.footer {
  padding: 20px;
  background-color: #353535;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 139px;
  height: 27px;
  margin-bottom: 20px;
  color: #ddd;
  margin: 0%;
}
.footer__link {
  margin-top: 10Px;
  color: #9356DC;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
.footer__link-text {
  margin-bottom: 5px;
  font-weight: 500;
  color: white;
  margin: 0%;
}
.footer__link-img {
  height: 13px;
  width: 11px;
  margin: 0%;
}
.footer__link--legal, .footer__link--contact {
  color: white;
}
.footer__link--legal, .footer__link--contact {
  cursor: pointer;
}
.footer__link--legal:hover, .footer__link--contact:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
